.Header {
    background: linear-gradient(170deg, #fcd71e 60%, white 60%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    font-size: calc(10px + 2vmin);
    color: black;
}

.divider{
    background: black;
    height: 0.2em;
    width: 4em;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 0.2em;
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
  }